<% include header %>
<link rel="stylesheet" type="text/css" href="/stylesheets/pagelist.css">
<script type="text/javascript" src="/javascripts/business/pagelist/editpage.js"></script>
<div class="container">
	<div class="left">
		<div class="block" data-pageid="<%=pageid%>">
			<div class="block_top">
				<span>添加page</span>
			</div>
			<div class="block_con">
				<input type="text" placeholder="pagename" class="page_add_name" value="<%=page.pagename%>"><br>
				<textarea placeholder="Page Description" class="page_add_dec"><%=page.pagedec%></textarea><br>
				<input type="button" value="Add" class="page_btn_add">	
			</div>
		</div>
	</div>
</div>
<% include footer %>