<% include header_2 %>
	<style type="text/css">
	.replydiv {
		position: relative;
		margin: 0 auto;
		width: 400px;
		height: 100px;
		background-color: white;
		padding: 15px;
		border-radius: 5px;
		border: 1px solid #B2B2B2;
	}
	</style>
	<div class="container">
		<div class="replydiv">
			<p>请查看你的邮件确认。</p>
		</div>
	</div>
<% include footer %>