.pf_list {
	position: relative;
	float: left;
}
.pf_list .pf_span {
	background-image: linear-gradient( #ffffff, #f0f0f0) !important;
	background-image: -webkit-linear-gradient( #ffffff, #f0f0f0) !important;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #B2B2B2;
	cursor: pointer;
	font-size: 12px;
	float: left;
}
.pf_list .pf_span:active {
	box-shadow: 0 1px 2px #B2B2B2 inset;
}
.pf_list .pf_ul {
	position: absolute;
	width: 80px;
	top: 30px;
	background-color: white;
	border: 1px solid #B2B2B2;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 5px;
	display: none;
	z-index: 2;
}
.pf_list .pf_ul li {
	padding: 5px;
	cursor: pointer;
}
.pf_list .pf_ul li:hover {
	background-color: #3592DD;
	color: white;
}

.pf_add_project {
	float: left;
	position: relative;
	margin-left: 20px;
}
.pf_add_project .pf_add {
	background-image: linear-gradient( #ffffff, #f0f0f0) !important;
	background-image: -webkit-linear-gradient( #ffffff, #f0f0f0) !important;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #B2B2B2;
	cursor: pointer;
	font-size: 12px;
	float: left;
}
.pf_add_project .pf_add:active {
	box-shadow: 0 1px 2px #B2B2B2 inset;
}
.pf_add_project .pf_addin {
	padding: 5px 10px;
	border: 1px solid #B2B2B2;
	border-radius: 5px;
	outline: 0;
	/*width: 200px;*/
	width: 0;
	margin-left: 20px;
	display: none;
	float: left;

}

.pf_save_div {
	float: right;
	margin-right: 20px;
}
.pf_save_div .pf_save {
	background-image: linear-gradient( #ffffff, #f0f0f0) !important;
	background-image: -webkit-linear-gradient( #ffffff, #f0f0f0) !important;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #B2B2B2;
	cursor: pointer;
	font-size: 12px;
}
.pf_save_div .pf_save:active {
	box-shadow: 0 1px 2px #B2B2B2 inset;
}
.objectcon {
	margin-top: 20px;
}
.objectcon .pf_in {
	padding: 5px 10px;
	border: 1px solid #B2B2B2;
	border-radius: 5px;
	outline: 0;
	width: 200px;
	margin-bottom: 10px;
}
.objectcon .pf_con ul li{
	position: relative;
	padding: 5px 10px;
	font-size: 12px;
	background-color: white;
	border: 1px solid #B2B2B2;
	border-radius: 5px;
	cursor: pointer;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
}
.objectcon .pf_con ul li:hover {
	background-color: #E03838;
	color: white;
	border: 1px solid #E03838;
}
.objectcon .pf_con ul li span {
	position: absolute;
	/*width: 100%;*/
	background-color: #E03838;
	width: 100%;
	height: 100%;
	line-height: 24px;
	text-align: center;
	top: -1px;
	left: -1px;
	border-radius: 5px;
	border: 1px solid #E03838;
	color: white;
	font-size: 12px;
}

/**/
.ob_b_top {
	text-align: center;
	padding: 5px 0;
}
.oneob_div {
	/*background-color: white;*/
	padding: 5px 10px;
	position: relative;
}
.oneob_div span {
	margin: 0 auto;
	display: block;
	border: 1px solid #B2B2B2;
	width: 80%;
	padding: 5px 10px;
	text-align: center;
	transition: all 0.25s ease 0;
	-webkit-transition: all 0.25s ease 0;
	-moz-transition: all 0.25s ease 0;
}
.oneob_btn {
	/*text-align: center;*/
	margin-top: 20px;
}
.oneob_btn .oneob_list {
	width: 50%;
	text-align: center;
	float: left;
}
.oneob_btn .oneob_list a {
	text-decoration: none;
	background-image: linear-gradient( #ffffff, #f0f0f0) !important;
	background-image: -webkit-linear-gradient( #ffffff, #f0f0f0) !important;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #B2B2B2;
	cursor: pointer;
	font-size: 12px;
}
.oneob_btn .oneob_cli {
	width: 50%;
	text-align: center;
	float: left;
}
.oneob_btn .oneob_cli a {
	text-decoration: none;
	background-image: linear-gradient( #ffffff, #f0f0f0) !important;
	background-image: -webkit-linear-gradient( #ffffff, #f0f0f0) !important;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #B2B2B2;
	cursor: pointer;
	font-size: 12px;
}
.obs_div {
	position: absolute;
	width: 80%;
	height: 80%;
	/*margin-left: 5%;*/
	margin-left: -50%;
	opacity: 0;
	display: none;
	background-color: white;
	top: 20px;
	/*padding: 5px 10px;*/
	padding: 5%;
	z-index: 20;
	border-radius: 5px;
	box-shadow: 0 2px 3px rgba(0,0,0,0.3);
	/*border: 1px solid #B2B2B2;*/
}
.obs_div span {
	float: left;
	padding: 5px 10px;
	border-radius: 5px;
	border: 1px solid #B2B2B2;
	font-size: 12px;
	cursor: pointer;
	margin-right: 5px;
	margin-bottom: 5px;
}
.obs_div span:hover {
	background-color: #E03838;
	border: 1px solid #E03838;
	color: white;
}
.obs_div span:active {
	background-color: #E03838;
	border: 1px solid #E03838;
	color: white;
}
.obs_div span:focus {
	background-color: #E03838;
	border: 1px solid #E03838;
	color: white;
}

.oneob_ex {
	position: relative;
	margin: 0 auto;
	width: 80%;
	padding: 5%;
	font-size: 12px;
	margin-top: 20px;
}
.oneob_ex a {
	margin-left: 5px;
}